<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iss.edu.online.mapper.UserDao">
    <delete id="deleteCourse">
        delete from studentcourses where CourseID=#{CourseID}
    </delete>
    <select id="selectUser" resultType="com.iss.edu.online.model.User">
        select * from user where username=#{username}
    </select>

    <select id="selectById" resultType="com.iss.edu.online.model.User">
        select * from user where id=#{id}
    </select>

    <insert id="insertUser">
        insert into user(username,password,avator) values(#{username},#{password},#{avator})
    </insert>
    <insert id="insertCourse">
        insert into courses(courseName,CourseDescription,CourseStartTime,
                            CourseEndTime,TeacherID) values (#{courseName},#{courseDescription},
                                                             #{courseStartTime},#{courseEndTime},#{teacherId})
    </insert>

</mapper>